body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.login-container {
  width: 400px;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-save {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-bottom: 20px; /* 아래 여백 추가 */
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.find-buttons {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  margin-top: 10px; /* 위쪽 여백 추가 */
}

.find-buttons a {
  margin: 0 5px; /* 링크 간격 조정 */
  color: #007BFF;
  text-decoration: none; /* 밑줄 제거 */
}

.find-buttons a:hover {
  text-decoration: underline; /* 호버 시 밑줄 추가 */
}

#error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
