<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 이용약관</title>
</head>
<body>
  <div class="container">
    <h1>회원가입 이용약관</h1>
    <form id="termsForm">
        <div class="terms">
            <h2>이용약관</h2>
            <iframe src="/signup/tacou1" width="100%" height="200px"></iframe>
            <label>
                <input type="checkbox" class="agreeTerm" id="agreeTerms1" required name="essential">
                이용약관에 동의합니다.
            </label>

            <h2>개인정보 처리방침</h2>
            <iframe src="/signup/tacou2" width="100%" height="200px" name="essential"></iframe>
            <label>
                <input type="checkbox" class="agreeTerm" id="agreeTerms2" required>
                개인정보 처리방침에 동의합니다.
            </label>

            <h2>위치기반서비스이용약관</h2>
            <iframe src="/signup/tacou3" width="100%" height="200px"></iframe>
            <label>
                <input type="checkbox" class="agreeTerm" id="agreeTerms3" required name="essential">
                서비스 이용 규칙에 동의합니다.
            </label>
        </div>
        <button type="submit" name="check">다음</button>
    </form>
  </div>
  <script src="../../js/"></script>
</body>
</html>
