<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
</head>
<body>
  <div class="container">
    <h1>회원가입</h1>
    <form id="tacouAgree" action="/signup" method="POST">
        <div class="terms">
            <h2>이용약관</h2>
            <iframe src="/tacou/tacou1" width="65%" height="200px"></iframe><br>
            <label>
                <input type="checkbox" class="agree" required name="essential1">
                이용약관에 동의합니다.
            </label>

            <h2>개인정보 처리방침</h2>
            <iframe src="/tacou/tacou2" width="65%" height="200px" name="essential2"></iframe><br>
            <label>
                <input type="checkbox" class="agree" required>
                개인정보 처리방침에 동의합니다.
            </label>

            <h2>위치기반서비스이용약관</h2>
            <iframe src="/tacou/tacou3" width="65%" height="200px"></iframe><br>
            <label>
                <input type="checkbox" class="agree" required name="essential3">
                서비스 이용 규칙에 동의합니다.
            </label>
        </div>
        <button type="button" id="goSignup">다음</button>
    </form>
  </div>
  <script src="/js/tacou/tacou.js"></script>
</body>
</html>
